.navbar-custom {
    background-color: black;
}
.navbar-custom .navbar-brand {
    color :azure
} 
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link{
    color:azure
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color:red !important
}

.HeadImage{
    background-image:url(./pics/pf-cover.jpg);
    height: 90vh;
}

#image{
    object-position: 20%;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.Intro{
    color: white;
    background-image: url(./pics/pf-cover.jpg);
}


.Heading{
    font-size: 3.4rem;
    font-style: oblique;
}
    

.card-title{
    color:blueviolet
}
    
.Heading{
    font-family: Georgia;
    color:crimson
}
 
.parallax{
    background-image:url(./pics/experience.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.experience{
    border-radius: 16px !important;
}

.contact{
    font-size:1.2rem ;
}