.navbar-custom {
    background-color: aqua;
}
.navbar-custom .navbar-brand {
    color :azure
} 
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link{
    color:azure
}
.navbar-custom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color:black !important
}

.HeadImage{
    background-color: aqua;
    height: 90vh;
}

#image{
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.Intro{
    background-color: aqua;
}

.Heading{
    font-size: 3.4rem;
    font-style: oblique;
}
    

.card-title{
    color:blueviolet
}
    
.Heading{
    font-family: Georgia;
    color:crimson
}
 
.parallax{
    background-image:url(./pics/experience.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.experience{
    border-radius: 16px !important;
}

.contact{
    font-size:1.3rem ;
    

}